@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.chart {
    width: 40rem;
    height: 20rem;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    margin-top: 1rem;
}