.discusscard-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.discuss-con {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.discuss-chats {
    flex: 1;
}

.discussion-name {
    text-decoration: none;
    color: var(--m1);
    font-weight: var(--font-medium);
    font-size: 1.2rem;
    text-align: center;

}

.discusshead {
    text-align: center;
    margin-bottom: 1rem;
}

.chat-area.card {
    background-color: var(--m4);
    position: relative;
    overflow-y: auto;
    max-height: 80%;
}

.message {
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.218);
    border: 0.01rem solid white;
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    box-shadow: 0 8px 32px rgba(255, 255, 255, 0.1);
    color: white;
}

/* .left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
} */

.left-chat p, .right-chat p{
    margin: 0;
}

.message {
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.218);
    border: 0.01rem solid white;
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    box-shadow: 0 8px 32px rgba(255, 255, 255, 0.1);
    color: white;
    max-width: 25rem;
}

.left {
    align-self: flex-start;
    text-align: left;
}

.right {
    align-self: flex-end;
    text-align: right;
}

.left-chat p, .right-chat p {
    margin: 0;
}

.discuss-chatcon {
    /* min-height: 80%; */
} 