.req-resources-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.req-resources-content {
    background: var(--m4);
    padding: 2rem;
    border-radius: 1rem;
    min-width: 35rem;
    max-height: 50rem;
    /* max-width: 80%; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.res-search-bar {
    width: 100%;
    margin: 1rem 0;
}

.req-resources-content h3 {
    margin-top: 0;
}

.req-resources-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.req-resources-actions button {
    padding: 8px 15px;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-size: 14px;
}

.req-resources-actions button:nth-child(2) {
    background-color: #dc3545;
}

.req-resources-actions button:hover {
    opacity: 0.9;
}

.req-resources-content textarea {
    color: var(--m2);
    background-color: var(--m3);
    padding: 0.5rem 0.7rem;
    border: none;
    border-radius: 0.3rem;
    width: 100%;
    height: 80px;
    resize: none;
}

.req-resources-content label {
    margin-top: 1rem;
    display: block;
    font-weight: var(--font-medium);
}

.req-resources-content input {
    color: var(--m2);
    background-color: var(--m3);
    padding: 0.5rem 0.7rem;
    border: none;
    border-radius: 0.3rem;
    /* width: 100%; */
    margin-right: 1rem;
}

.resource-list {
    margin-top: 1rem;
    overflow-y: auto;
}

.resource-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.resource-item input[type="number"] {
    margin-left: 10px;
    padding: 0.4rem;
    border-radius: 0.3rem;
    border: none;
    background-color: var(--m3);
    color: var(--m2);
    width: 6rem;
    text-align: center;
    margin-left: auto;
}

/* Hide spin buttons in Chrome, Safari, and Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.resourcename {
    text-align: left;
}
