@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
  --header-height: 3rem;

  /* Colors */
  --hue: 0;
  --sat: 0%;
  --m1: #ffffff;
  --m2: #a6a6a6;
  --m3: #4c4c4d;
  --m4: #1e1e1e;
  --m5: #000000;

  /* Font and typography */
  --body-font: "Poppins", sans-serif;

  /* Margins Bottom */
  /* 0.5rem = 8px | 1rem = 16px */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* Z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /* Font Sizes */
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /* Font Weights */
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

/* Responsive Typography */
@media screen and (max-width: 768px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/* Disable text selection for the entire page */
body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Standard syntax */
}



/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--m5);
  color: var(--m1);
}

.heading {
  position: relative;
  display: inline-block; 
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: var(--font-bold);
  padding: 0;
  margin: 0 2rem 2rem 0;
  background: linear-gradient(270deg, rgba(153, 78, 215, 1) 0%, rgba(107, 149, 247, 1) 100%);

  -webkit-background-clip: text;
  color: transparent;
}

.heading::after {
  content: "";
  position: absolute;
  width: 80px; 
  height: 4px; 
  background: linear-gradient(270deg, rgba(153, 78, 215, 1) 0%, rgba(107, 149, 247, 1) 100%);
  bottom: -0.8rem; 
  left: 0; 
}

.v-divider {
  width: 2px;
  height: auto;
  margin: auto 0;
  background-color: #a6a6a632;
}

.mainbtn {
  background-color: var(--m3);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.tag-icon {
  margin-right: 0.5rem;
}

.withai {
  color: var(--m1);
  cursor: pointer;
  display: inline-block; 
  font-weight: var(--font-semi-bold);
  /* font-family: "Montserrat", sans-serif; */
  background: linear-gradient(270deg, rgba(153, 78, 215, 1) 0%, rgba(107, 149, 247, 1) 100%);
  font-size: 1.1rem;
  -webkit-background-clip: text;
  color: transparent;
}

.aibtn {
  background-color: var(--m3);
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem 1.1rem;
  display: inline-block;
  margin-bottom: 1rem;
  cursor: pointer;
}


/* Containers */

.maincon {
  background-color: var(--m4);
  border: none;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 1.5rem 2rem;
}

.card {
  background-color: var(--m3);
  border: none;
  border-radius: 0.5rem;
  padding: 1.2rem;
  color: var(--m1);
  cursor: pointer;
}


/* TAGS */

.p-tag {
  border: 0.2rem solid #C678D8;
  border-radius: 0.3rem;
  padding: 0.2rem 0.7rem;
  background-color: rgba(198, 120, 216, 0.4);
  color: var(--m1);
}

.r-tag {
  border: 0.2rem solid #E95252;
  border-radius: 0.3rem;
  padding: 0.2rem 0.7rem;
  background-color: rgba(233, 82, 82, 0.4);
  color: var(--m1);

}
.g-tag {
  border: 0.2rem solid #10CE36;
  border-radius: 0.3rem;
  padding: 0.2rem 0.7rem;
  background-color: rgba(16, 206, 54, 0.4);
  color: var(--m1);
}

.y-tag {
  border: 0.2rem solid #FFC508;
  border-radius: 0.3rem;
  padding: 0.2rem 0.7rem;
  background-color: rgba(255, 197, 8, 0.4);
  color: var(--m1);

}
.b-tag {
  border: 0.2rem solid #4C8EF0;
  border-radius: 0.3rem;
  padding: 0.2rem 0.7rem;
  background-color: rgba(76, 142, 240, 0.4);
  color: var(--m1);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--m5);
}

::-webkit-scrollbar-thumb {
  background: var(--m4);
  transition: 0.1s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--m4);
}

::-webkit-scrollbar-thumb:active {
  background: var(--m4);
}
